/* syntax déclaration de variable

$variable : #000;

*/

$transition: .25s ease-in-out;

// VARIABLE DE TAILLE
$dix: 1.0rem;
$douze: 1.2rem;
$quatorze: 1.4rem;
$quinze: 1.5rem;
$seize: 1.6rem;
$vingt: 2.0rem;
$vingt-cinq: 2.5rem;
$cinquante-cinq: 5.5rem;
$cent: 10rem;


// - Module bandeau slick
$carousel-height : 500px;
