{% extends 'base.html.twig' %}

{% block title %}Nouveau Produit{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/app.scss') }}">
{% endblock %}
{% block body %}
  <br>
  {{ include('produit/_form.html.twig') }}
  <a href="{{ path('produit_index') }}">Voir tous les produits</a>
{% endblock %}
