<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %} - Vide ton Placard !</title>
        {% include 'ressources/stylesheet.html.twig' %}
        {# end importation #}
        {% block stylesheets %}	<link rel="stylesheet" type="text/css" href="{{ asset('/assets/css/app.scss') }}">{% endblock %}
    </head>
    <body>
        <div class="site-wrap">
        {% include 'ressources/header.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'ressources/footer.html.twig' %}
        </div>
        {% include 'ressources/script.html.twig' %}
        {# end importation #}
        {% block javascripts %}{% endblock %}
    </body>
</html>
