<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - Vide ton Placard !</title>

        {{ encore_entry_link_tags('app') }}
        {% include 'ressources/stylesheet.html.twig' %}
        {# end importation #}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {{ encore_entry_script_tags('app') }}
        {% include 'ressources/script.html.twig' %}
        {# end importation #}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
