html {
	font-size: .625rem; // 1rem = 10px with this line (easier calcul)
}

body {
	font-size: 1.6rem !important; // 1.6rem = 16px, magic!
	line-height: 1.7 !important;
	color: #8c92a0 !important;
	font-weight: 300 !important;
	::-moz-selection {
		background: #000;
		color: #fff; 
	}
	::selection {
		background: #000;
		color: #fff; 
	}
}

sup {
	font-size: 60%;
}

ul {
	padding-left: 1.8rem;
	list-style: square;
}

.invalid {
    color: #9d261d;
    font-weight: bold;
}

input.invalid {
    border: 1px solid #9d261d;
}

.text-black {
	color: #000; }
  